.app-content {
  padding-top: 57px;

  p {
    margin: 0;
  }

  p + p {
    margin: 1rem 0 0;
  }

  .row {
    margin-top: -1.875rem;

    & > [class^="col"] {
      margin-top: 1.875rem;
    }
  }
}
