.app-content {
  flex: 1 0 auto;
  padding-top: 60px;

  .page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 100%;
  }

  p {
    margin: 0;
  }

  p + p {
    margin: 1rem 0 0;
  }

  .row {
    margin-top: -1.875rem;

    & > [class^="col"] {
      margin-top: 1.875rem;
    }
  }
}
