.app-header {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  background-color: $white;
  border-bottom: 1px solid rgba($black, 0.25);
  box-sizing: border-box;

  @include breakpoint(v-mobile) {
    padding: 1rem;
    background-color: $white;
  }

  > * {
    pointer-events: auto;
  }

  &__logo {
    margin: 0;
    font: {
      size: 24px;
      weight: 700;
    };
  }
}
